* {
  margin: 0;
  padding: 0;
}

/* font-family: 'Merriweather', serif; */
/* banner-section style start here */

.btn {
  border-radius: 8px;
  background: #f00;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.banner-section {
  background-image: url("/image/banner-image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 177px;
}

.banner-heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  padding: 0 0 200px;
}
/* banner-section style end here */

/* catagory-section style start here */
.catagoris-section {
  background-color: #fff;
}

.discount {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.catagoris-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.catagoris-heading {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catagoris-section-image {
  justify-content: space-between;
  /* width: 802.9px;
  height: 500px; */
  margin: 0 35%;
}
/* catagory-section style end here */
/* welcome-section style start here */
.welcome-section {
  background-image: url("/image/Vectorrr.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  margin: 50px auto;
}
.welcome-banner-heading {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-top: 110px;
  padding-left: 125px;
}
.welcome-banner-description {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 125px;
  /* padding-top: 5px; */
}
button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-left: 160px;
  background-color: #6d3c3c;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
/* welcome-section style end here */

.place-section {
  background-color: #ffefef;
  width: 1320px;
  height: 482px;
  margin: 50px auto;
}
.place-container {
  padding-top: 100px;
  padding-left: 385px;
  padding-right: 385px;
  color: #070211;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.color {
  color: #f00;
}

.offer-section {
  max-width: 1600px;
  width: 1320px;
  background-color: #ffefef;
  margin: 0 auto;
}

.offer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  padding: 50px;
}
.offer-contant {
}

.offer-title {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.offer-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  text-align: left;
}
.offer-desceiption {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.offer-year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer-desceiption2 {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.elip-img {
  width: 300.844px;
  height: 300.844px;
  border: 15px solid red;
  border-radius: 50%;
  padding: 20px;
}
/* functional section desing start here */
.functional-section {
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  margin: 0 auto;
}
.functional-text {
  text-align: center;
}

.functional-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.functional-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.color-holiday {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.functional-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.functional-image{
  justify-content: space-between;
  max-width: 1600px;
  height: 482px;
  margin: 0 auto;
  
}
.image-containar{
  display: flex;
  justify-content: space-between;
  
}
.image1{
  padding-right: 140px;
}

/* functional section desing end here */

