* {
  margin: 0;
  padding: 0;
}

/* font-family: 'Merriweather', serif; */

.banner-section {
  background-image: url("/image/Banner\ Image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 177px;
}

.banner-heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  padding: 0 0 200px;
}

.catagoris-section {
  background-color: #fff;
}

.discount {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.catagoris-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.catagoris-heading {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catagoris-section-image {
  align-items: center;
  width: 802.9px;
  height: 500px;
  margin: 50 auto;
}

.welcome-section {
  background-image: url("/image/Vectorrr.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  margin: 50px auto;
}
.welcome-banner-heading {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-top: 110px;
  padding-left: 125px;
}
.welcome-banner-description {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 125px;
  /* padding-top: 5px; */
}
button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-left: 160px;
  background-color: #6d3c3c;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
